<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Gambling Site</title>
  </head>
  <body>
  <div id="wrapper">
    <div id="header">
      <h1>Gambling site</h1>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
